.card-like{
    padding: 1em;
    background-color: black;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(79,118,98);
    width: 10vw;
    margin: 25vh auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(78,117,97);
}

#overide {
    margin: 10px;
    height: 40px;
    width: 90%;
    background-color: rgb(20,34,29);
    border-color: rgb(79,118,98);
    border-width: 2px;
    border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Orbitron';
  color: rgb(78,117,97);
}

#overide3 {
  margin: .50%;
  height: 70%;
  width: 10%;
  left: 5%;
  background-color: rgb(20,34,29);
  border-color: rgb(79,118,98);
  border-width: 2px;
  border-radius: 5px;
text-align: center;
text-decoration: none;
display: inline-block;
font-family: 'Orbitron', sans-serif;
color: rgb(78,117,97);
}
#overide4 {
  height:  30px;
  width: 30px;
  

}

#overide4> img{
  position: relative;
  top: -3px;
  left : -55%;


}

#overide5 {
  margin-left: 78.4%;
  height: 70%;
  width: 10%;
  position: absolute;
  background-color: rgb(20,34,29);
  border-color: rgb(79,118,98);
  border-width: 2px;
  border-radius: 5px;
text-align: center;
text-decoration: none;

font-family: 'Orbitron';
color: rgb(78,117,97);
}